
# Database env variable
DATABASE_URL=postgresql://admin:secret@localhost:5432/mydb

# App env variable
PORT=3000

# Cookie related env variable
JWT_SECRET_FOR_ACCESS_TOKEN=76476cfecd18da3b10a02b43f4bd190fee51392bd88b73cc263f4b8ba9cf48c9ec0a4c00d0e
JWT_SECRET_FOR_REFRESH_TOKEN=8ad7f069b166d86cfbe887b19737c23bb5fdd733e5ae4dabbe9f9a87ef7ab9c1d78d4b2840

# Redis env variable
REDIS_URL=
